# Docker Registry Authentication
DOCKER_USERNAME=your_username
DOCKER_PASSWORD=your_token
DOCKER_AUTH_CONFIG={"auths":{"ghcr.io":{"auth":"your_base64_token"}}}

# Watchtower Configuration
WATCHTOWER_CLEANUP=true
WATCHTOWER_POLL_INTERVAL=60
WATCHTOWER_INCLUDE_STOPPED=true
WATCHTOWER_REVIVE_STOPPED=true
WATCHTOWER_MONITOR_ONLY=false
WATCHTOWER_ROLLING_RESTART=true
